.articles {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.articles img {
  max-width: 100%;
  height: auto;
}

.categories {
  flex: 1;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.preview {
  flex: 2;
  padding: 1rem;
  background-color: var(--bg-color);
}

a {
  display: block;
}

@media (min-width: 768px) {
  .articles {
    flex-direction: row;
    padding: 2rem;
  }

  .categories {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .preview {
    margin-left: 1rem;
  }
}

@media (max-width: 767px) {
  .articles {
    padding: 0.5rem;
  }

  .categories,
  .preview {
    padding: 0.5rem;
  }
}
