.article {
  margin: 2rem;
  padding: 2rem;
  border: 0.1rem solid black;
}

.author {
  margin: 1rem;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.content {
  margin: 2rem;
}

h5 {
  font-weight: normal;
}
