.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 126, 0.678);
  bottom: auto;
}

.p {
  margin: 2rem;
  padding: 2rem;
}

.page {
  font-size: 2rem;
  margin: 1rem;
  color: black;
}

a {
  color: black;
  padding: 2rem;
  background-color: rgba(117, 190, 255, 0.5);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
