.page {
  text-align: center;
  width: 80%;
  margin: 3rem auto;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
}

.content > h2 {
  margin: 3rem 0;
}

a {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
}

.content a:has(img) {
  padding: 0;
  background-color: none;
  margin: 2rem 0 0 0;
}

.content a:has(h1),
a:has(h2),
a:has(h3),
a:has(h4),
a:has(h5),
a:has(h6) {
  margin: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  display: block;
}

.content div div:has(div):has(a):has(img) {
  margin: 4rem 0;
  padding: 4rem;
  background-color: color-mix(in srgb, var(--accent-mid), transparent 70%);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.content ul {
  margin-left: 0;
  padding-left: 0;
}

.content li {
  margin: 1rem 0;
}

.content > h2 {
  padding-bottom: 1rem;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.content td,
.content th {
  word-wrap: break-word;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: --text-color;
}

.content {
  font-size: 1.1rem;
  line-height: 1.8;
  color: --text-color;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

.content p {
  margin-bottom: 1rem;
  text-indent: 0rem;
  margin-left: 0;
}

.content h1,
.content h2,
.content h3 {
  color: --text-color;
  margin-bottom: 1rem;
  text-indent: 0;
}

@media (max-width: 767px) {
  .page {
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    font-size: 1rem;
  }
}
