.page {
  text-align: center;
  max-width: 60%;
  margin: 3rem auto;
  line-height: 1.5;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.content td,
.content th {
  word-wrap: break-word;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: --text-color;
}

.content {
  font-size: 1.1rem;
  line-height: 1.8;
  color: --text-color;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

.content p {
  margin-bottom: 1rem;
  text-indent: 0rem;
  margin-left: 0;
}

.content h1,
.content h2,
.content h3 {
  color: --text-color;
  margin-bottom: 1rem;
  text-indent: 0;
}

@media (max-width: 767px) {
  .page {
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    font-size: 1rem;
  }
}
